<!DOCTYPE html>
<html  ng-app="LunchCheck">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
   

    <title>Document</title>
</head>
<body>
<div>
    <div ng-controller="LunchCheckController">
<h2>Foods for lunch</h2>
        <p>Please type the name for the value you wish to calculate foods you usally eat for lunch</p>
        <small>Seperate them by commas</small>
        <br><br>
        <input type="text" ng-model="foods">

        <br><br>
        <button ng-click="Check()">Click to check</button>

        <br><br>
        <br><br>
        <hr>
<div ng-model="result" style="color:green">
    {{result}}

</div>

   


</div>
</div>

</body>
</html>

